@model EfProject.Models.Cliente

@{
    ViewBag.Title = "¿Esta seguro que desea eliminar el cliente?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¿Esta seguro que desea eliminar el cliente?</h2>


